* {
  --primary-color: #9d4edd;
  --primary-color-rgb: 157, 78, 221;
  --secondary-color: #c77dff;
  --secondary-color-rgb: 199, 125, 255;
  --bg-light: #f8f8f8;
  --bg-dark-1: #3c096c;
  --bg-dark-1-rgb: 60, 9, 108;
  --bg-dark-2: #5a189a;
  --bg-dark-3: #7b2cbf;
}