* {
  --primary-color: #006466;
  --primary-color-rgb: 0, 100, 102;
  --secondary-color: #065a60;
  --secondary-color-rgb: 6, 90, 96;
  --bg-light: #e8eddf;
  --bg-dark-1: #212f45;
  --bg-dark-1-rgb: 33, 47, 69;
  --bg-dark-2: #1b3a4b;
  --bg-dark-3: #144552;
}